USE [master]
GO
/****** Object:  Database [QLCUAHANG]    Script Date: 11/9/2024 12:38:10 PM ******/
CREATE DATABASE [QLCUAHANG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLCUAHANG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLCUAHANG.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLCUAHANG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLCUAHANG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLCUAHANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLCUAHANG]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 11/9/2024 12:38:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BillDate] [datetime] NULL,
	[CustomerId] [int] NULL,
	[UserId] [int] NULL,
	[Price] [int] NULL,
	[Discount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillDetail]    Script Date: 11/9/2024 12:38:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillDetail](
	[BillId] [int] NOT NULL,
	[ProductId] [varchar](20) NOT NULL,
	[Quantity] [int] NULL,
	[TotalPrice] [int] NULL,
 CONSTRAINT [PK_BillDetail] PRIMARY KEY CLUSTERED 
(
	[BillId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlockVoucher]    Script Date: 11/9/2024 12:38:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlockVoucher](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReleaseName] [varchar](50) NULL,
	[TypeVoucher] [int] NULL,
	[ParValue] [int] NULL,
	[StartDate] [date] NULL,
	[FinishDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consignment]    Script Date: 11/9/2024 12:38:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consignment](
	[InputInfoId] [int] NOT NULL,
	[ProductId] [varchar](20) NOT NULL,
	[Stock] [int] NULL,
	[ManufacturingDate] [date] NULL,
	[ExpiryDate] [date] NULL,
	[InputPrice] [int] NULL,
	[OutputPrice] [int] NULL,
	[Discount] [float] NULL,
	[InStock] [int] NULL,
 CONSTRAINT [PK_Consignment] PRIMARY KEY CLUSTERED 
(
	[InputInfoId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 11/9/2024 12:38:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [nvarchar](200) NULL,
	[Point] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InputInfo]    Script Date: 11/9/2024 12:38:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InputInfo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InputDate] [date] NULL,
	[UserId] [int] NULL,
	[SupplierId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 11/9/2024 12:38:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Barcode] [varchar](20) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Image] [image] NULL,
	[Type] [nvarchar](50) NULL,
	[ProductionSite] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Barcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Report]    Script Date: 11/9/2024 12:38:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Report](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[SubmittedAt] [smalldatetime] NOT NULL,
	[RepairCost] [int] NULL,
	[StartDate] [smalldatetime] NULL,
	[FinishDate] [smalldatetime] NULL,
	[StaffId] [int] NOT NULL,
	[Image] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalaryBill]    Script Date: 11/9/2024 12:38:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalaryBill](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SalaryBillDate] [date] NULL,
	[UserId] [int] NULL,
	[TotalMoney] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 11/9/2024 12:38:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/9/2024 12:38:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserRole] [nvarchar](20) NULL,
	[Name] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [nvarchar](200) NULL,
	[UserName] [nvarchar](100) NULL,
	[Password] [nvarchar](max) NULL,
	[Avatar] [image] NULL,
	[ManagerId] [int] NULL,
	[Salary] [int] NULL,
	[SalaryDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 11/9/2024 12:38:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[Code] [varchar](30) NOT NULL,
	[Status] [int] NULL,
	[BlockId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bill] ON 

INSERT [dbo].[Bill] ([Id], [BillDate], [CustomerId], [UserId], [Price], [Discount]) VALUES (1, CAST(N'2024-11-09T09:21:57.877' AS DateTime), 1, 1, 150, 0)
INSERT [dbo].[Bill] ([Id], [BillDate], [CustomerId], [UserId], [Price], [Discount]) VALUES (2, CAST(N'2024-11-09T09:37:27.240' AS DateTime), 1, 1, 300, 0)
INSERT [dbo].[Bill] ([Id], [BillDate], [CustomerId], [UserId], [Price], [Discount]) VALUES (3, CAST(N'2024-11-09T09:49:39.550' AS DateTime), 1, 1, 290, 10)
SET IDENTITY_INSERT [dbo].[Bill] OFF
GO
INSERT [dbo].[BillDetail] ([BillId], [ProductId], [Quantity], [TotalPrice]) VALUES (1, N'SP1', 1, 150)
INSERT [dbo].[BillDetail] ([BillId], [ProductId], [Quantity], [TotalPrice]) VALUES (2, N'SP1', 2, 300)
INSERT [dbo].[BillDetail] ([BillId], [ProductId], [Quantity], [TotalPrice]) VALUES (3, N'SP1', 2, 300)
GO
SET IDENTITY_INSERT [dbo].[BlockVoucher] ON 

INSERT [dbo].[BlockVoucher] ([Id], [ReleaseName], [TypeVoucher], [ParValue], [StartDate], [FinishDate]) VALUES (1, N'Voucher co dinh', 0, 10, CAST(N'2024-11-07' AS Date), CAST(N'2024-11-12' AS Date))
INSERT [dbo].[BlockVoucher] ([Id], [ReleaseName], [TypeVoucher], [ParValue], [StartDate], [FinishDate]) VALUES (2, N'Sale 11/11', 0, 5000, CAST(N'2024-11-08' AS Date), CAST(N'2024-11-10' AS Date))
SET IDENTITY_INSERT [dbo].[BlockVoucher] OFF
GO
INSERT [dbo].[Consignment] ([InputInfoId], [ProductId], [Stock], [ManufacturingDate], [ExpiryDate], [InputPrice], [OutputPrice], [Discount], [InStock]) VALUES (1, N'SP1', 100, CAST(N'2024-11-09' AS Date), CAST(N'2025-11-09' AS Date), 123, 150, NULL, 92)
INSERT [dbo].[Consignment] ([InputInfoId], [ProductId], [Stock], [ManufacturingDate], [ExpiryDate], [InputPrice], [OutputPrice], [Discount], [InStock]) VALUES (2, N'SP2', 10, CAST(N'2024-11-09' AS Date), CAST(N'2025-11-09' AS Date), 10000, 20000, NULL, 7)
INSERT [dbo].[Consignment] ([InputInfoId], [ProductId], [Stock], [ManufacturingDate], [ExpiryDate], [InputPrice], [OutputPrice], [Discount], [InStock]) VALUES (3, N'SP 3', 100, CAST(N'2024-11-09' AS Date), CAST(N'2025-11-09' AS Date), 10000, 20000, NULL, 98)
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([Id], [Name], [Address], [Phone], [Email], [Point]) VALUES (1, N'Khách lẻ', N'HN', N'01234567', N'khachle@gmail.com', 1)
INSERT [dbo].[Customer] ([Id], [Name], [Address], [Phone], [Email], [Point]) VALUES (2, N'An', N'123', N'123', N'123', 0)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[InputInfo] ON 

INSERT [dbo].[InputInfo] ([Id], [InputDate], [UserId], [SupplierId]) VALUES (1, CAST(N'2024-11-09' AS Date), 1, 1)
INSERT [dbo].[InputInfo] ([Id], [InputDate], [UserId], [SupplierId]) VALUES (2, CAST(N'2024-11-09' AS Date), 1, 2)
INSERT [dbo].[InputInfo] ([Id], [InputDate], [UserId], [SupplierId]) VALUES (3, CAST(N'2024-11-09' AS Date), 1, 2)
SET IDENTITY_INSERT [dbo].[InputInfo] OFF
GO
INSERT [dbo].[Product] ([Barcode], [Title], [Image], [Type], [ProductionSite]) VALUES (N'SP 3', N'Ten SP 3', NULL, N'Đồ uống', N'Hà N?i')
INSERT [dbo].[Product] ([Barcode], [Title], [Image], [Type], [ProductionSite]) VALUES (N'SP1', N'Ten SP', NULL, N'123', N'TP HCM')
INSERT [dbo].[Product] ([Barcode], [Title], [Image], [Type], [ProductionSite]) VALUES (N'SP2', N'Ten SP2', NULL, N'Loai SP2', N'HN')
GO
SET IDENTITY_INSERT [dbo].[Report] ON 

INSERT [dbo].[Report] ([Id], [Title], [Description], [Status], [SubmittedAt], [RepairCost], [StartDate], [FinishDate], [StaffId], [Image]) VALUES (1, N'123', N'123', N'Chưa xử lý', CAST(N'2024-11-09T10:24:00' AS SmallDateTime), 10000, CAST(N'2024-11-01T00:00:00' AS SmallDateTime), CAST(N'2024-11-09T00:00:00' AS SmallDateTime), 1, NULL)
INSERT [dbo].[Report] ([Id], [Title], [Description], [Status], [SubmittedAt], [RepairCost], [StartDate], [FinishDate], [StaffId], [Image]) VALUES (2, N'Khách hàng làm vỡ cốc', N'Vỡ cốc quầy bát đĩa', N'Đang xử lý', CAST(N'2024-11-09T10:37:00' AS SmallDateTime), 100000, CAST(N'2024-11-08T00:00:00' AS SmallDateTime), NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[Report] OFF
GO
SET IDENTITY_INSERT [dbo].[SalaryBill] ON 

INSERT [dbo].[SalaryBill] ([Id], [SalaryBillDate], [UserId], [TotalMoney]) VALUES (1, CAST(N'2024-11-09' AS Date), 3, NULL)
INSERT [dbo].[SalaryBill] ([Id], [SalaryBillDate], [UserId], [TotalMoney]) VALUES (2, CAST(N'2024-11-09' AS Date), 3, NULL)
INSERT [dbo].[SalaryBill] ([Id], [SalaryBillDate], [UserId], [TotalMoney]) VALUES (3, CAST(N'2024-11-09' AS Date), 4, 50)
SET IDENTITY_INSERT [dbo].[SalaryBill] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([Id], [Name], [Address], [Phone], [Email]) VALUES (1, N'NCC1', N'123', N'123456789', N'ncc@gmail.com')
INSERT [dbo].[Supplier] ([Id], [Name], [Address], [Phone], [Email]) VALUES (2, N'NCC2', N'123', N'123', N'123')
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [UserRole], [Name], [Address], [Phone], [Email], [UserName], [Password], [Avatar], [ManagerId], [Salary], [SalaryDate]) VALUES (1, N'Admin', N'Admin1', N'123', N'0123456789', N'admin@gmail.com', N'admin1', N'1234', NULL, NULL, NULL, NULL)
INSERT [dbo].[Users] ([Id], [UserRole], [Name], [Address], [Phone], [Email], [UserName], [Password], [Avatar], [ManagerId], [Salary], [SalaryDate]) VALUES (3, N'Staff', N'Nhan Vien', N'123', N'0123456788', N'staff@gmail.com', N'staff1', N'staff1', NULL, 1, NULL, CAST(N'2024-11-09' AS Date))
INSERT [dbo].[Users] ([Id], [UserRole], [Name], [Address], [Phone], [Email], [UserName], [Password], [Avatar], [ManagerId], [Salary], [SalaryDate]) VALUES (4, N'Staff', N'NV2', N'123', N'123', N'123', N'nv1', N'nv1', NULL, NULL, 50, CAST(N'2024-11-09' AS Date))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
INSERT [dbo].[Voucher] ([Code], [Status], [BlockId]) VALUES (N'1DBC08A2', 1, 1)
INSERT [dbo].[Voucher] ([Code], [Status], [BlockId]) VALUES (N'2E298A3C', 1, 2)
INSERT [dbo].[Voucher] ([Code], [Status], [BlockId]) VALUES (N'4418A142', 1, 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Idx_CustomerEmail_NotNull]    Script Date: 11/9/2024 12:38:10 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Idx_CustomerEmail_NotNull] ON [dbo].[Customer]
(
	[Email] ASC
)
WHERE ([Email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Idx_CustomerPhone_NotNull]    Script Date: 11/9/2024 12:38:10 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Idx_CustomerPhone_NotNull] ON [dbo].[Customer]
(
	[Phone] ASC
)
WHERE ([Phone] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Idx_UserAccount_NotNull]    Script Date: 11/9/2024 12:38:10 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Idx_UserAccount_NotNull] ON [dbo].[Users]
(
	[UserName] ASC
)
WHERE ([UserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Idx_UserEmail_NotNull]    Script Date: 11/9/2024 12:38:10 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Idx_UserEmail_NotNull] ON [dbo].[Users]
(
	[Email] ASC
)
WHERE ([Email] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Idx_UserPhone_NotNull]    Script Date: 11/9/2024 12:38:10 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [Idx_UserPhone_NotNull] ON [dbo].[Users]
(
	[Phone] ASC
)
WHERE ([Phone] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[BillDetail]  WITH CHECK ADD FOREIGN KEY([BillId])
REFERENCES [dbo].[Bill] ([Id])
GO
ALTER TABLE [dbo].[BillDetail]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Barcode])
GO
ALTER TABLE [dbo].[Consignment]  WITH CHECK ADD  CONSTRAINT [FK_InputInfo] FOREIGN KEY([InputInfoId])
REFERENCES [dbo].[InputInfo] ([Id])
GO
ALTER TABLE [dbo].[Consignment] CHECK CONSTRAINT [FK_InputInfo]
GO
ALTER TABLE [dbo].[Consignment]  WITH CHECK ADD  CONSTRAINT [FK_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Barcode])
GO
ALTER TABLE [dbo].[Consignment] CHECK CONSTRAINT [FK_Product]
GO
ALTER TABLE [dbo].[InputInfo]  WITH CHECK ADD FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Supplier] ([Id])
GO
ALTER TABLE [dbo].[InputInfo]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Report]  WITH CHECK ADD FOREIGN KEY([StaffId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[SalaryBill]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Voucher]  WITH CHECK ADD FOREIGN KEY([BlockId])
REFERENCES [dbo].[BlockVoucher] ([Id])
GO
ALTER TABLE [dbo].[Consignment]  WITH CHECK ADD  CONSTRAINT [CHK_Date] CHECK  (([ManufacturingDate]<[ExpiryDate]))
GO
ALTER TABLE [dbo].[Consignment] CHECK CONSTRAINT [CHK_Date]
GO
USE [master]
GO
